.containerSearch{
    padding: 15px;
    border: none;
   
    margin-right: 16px;
 
}
.containerSearch a.active {
    background-color: #2196F3;
    color: white;
  }

  .inputSearch{
      width: 400px;
      height: 30px;
      font-size: 20px;
  }